<div>
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" [routerLink]="['/movies', 1]">Primera</a>
      </li>
      <li *ngFor="let item of pages; let i = index" class="page-item" [routerLinkActive]="['active']">
        <a class="page-link" [routerLink]="['/movies', item]">{{item}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" [routerLink]="['/movies', cantidadPaginas]">Ultima</a>
      </li>
    </ul>
</div>
