<div class="container">
<div class="jumbotron mt-3">
  <div class="container">
    <h1 class="display-4">VIVELCINE</h1>
    <p class="lead">PELICULAS HD LINK DIRECTO.</p>
  </div>
</div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">

  <div class="card-columns mt-5">
    <app-movie-card [items]="movies" [page]="page"></app-movie-card>
  </div>

  <div class="container">
   
   
      <app-pagination [PaginaActual]="page" [RegistrosPorPagina]="16" [cantidadPaginas]="totalPages"></app-pagination>
      <!-- <button [disabled]="page <= 1" class="btn btn-primary m-1" (click)="previousPage()">Anterior</button>
      <button [disabled]="page >= totalPages" class="btn btn-primary m-1" (click)="nextPage()">Siguiente</button> -->
    
  </div>
<br>
</div>


