/* You can add global styles to this file, and also import other style files */

/* The slow way */
.make-it-slow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.50);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Transition to a bigger shadow on hover */
  .make-it-slow:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  }
  
  /* The fast way */
  .make-it-fast {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }
  
  /* Pre-render the bigger shadow, but hide it */
  .make-it-fast::after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Transition to showing the bigger shadow on hover */
  .make-it-fast:hover::after {
    opacity: 1;
  }

  
