<div class="row">
    <div class="card-columns m-5">
        <div class="card make-it-slow" *ngFor="let item of items">
          <img class="card-img-top" [src]="item.urlImage | noimage" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><small><strong>{{item.titulo | uppercase}}</strong></small></h5>
            <p class="card-text">{{item.detalles | textocondicionado}}</p>
            <p class="card-text">
                <button class="btn btn-outline-primary btn-block" [routerLink]="['/movie', item.idMovie, page]">ver más...</button>
            </p>
            <!-- <p class="card-text">
              <span class="badge badge-primary m-1">Primary</span>
              <span class="badge badge-primary m-1">Primary</span>
          </p> -->
            
          </div>
        </div>
    </div>
</div>
